{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "baseUrl": "./",
    "target": "es2021"
  },
  "module": {
    "type": "commonjs",
    "resolveFully": true
  },
  "minify": true
}
